# Heck yeah colors
base00: "#000000"
base01: "#202020"
base02: "#505050"
base03: "#a0a0a0"
base04: "#b0b0b0"
base05: "#e0e0e0"
base06: "#f5f5f5"
base07: "#ffffff"
base08: "#FF5975"
base09: "#FF2F5E"
base0A: "#FF006C"
base0B: "#FF008B"
base0C: "#FF21DB"
base0D: "#CA3AFF"
base0E: "#A22DFF"
base0F: "#8B00FF"

# Gaps between windows in i3
gaps: 64

# Bars
bars:
    primary:
        monitor: DVI-1
    secondary:
        monitor: HDMI-0
    tertiary:
        monitor: DVI-0
    laptop:
        monitor: LVDS-1
