[base16]
base00 = #{{base00}}
base01 = #{{base01}}
base02 = #{{base02}}
base03 = #{{base03}}
base04 = #{{base04}}
base05 = #{{base05}}
base06 = #{{base06}}
base07 = #{{base07}}
base08 = #{{base08}}
base09 = #{{base09}}
base0A = #{{base0A}}
base0B = #{{base0B}}
base0C = #{{base0C}}
base0D = #{{base0D}}
base0E = #{{base0E}}
base0F = #{{base0F}}

[colors]
background = #00000000
background-alt = ${base16.base07}
foreground = ${base16.base07}
foreground-alt = ${base16.base03}
primary = ${base16.base0C}
secondary = ${base16.base0B}
alert = ${base16.base0A}

[global/wm]
margin-top = 5
margin-bottom = 5

[bar/primary]
monitor = ${env:MONITOR:HDMI-0}
width = 100%
height = 27
offset-x = 0
offset-y = 0

background = ${colors.background}
foreground = ${colors.foreground}

border-bottom = 0

spacing = 1
padding-left = 0
padding-right = 4
module-margin-left = 1
module-margin-right = 2

font-0 = yantramanav:size=14:fontformat=truetype
font-1 = firacode:size=12:fontformat=truetype
font-2 = unifont:size=1:heavy:fontformat=truetype;-2
font-3 = siji:pixelsize=10;0

modules-left = i3 xwindow
modules-center = mpd
modules-right = ping pkg eth volume date time powermenu

tray-position = none

override-redirect = false
wm-restack = i3

scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev

[bar/secondary]
monitor = ${env:MONITOR:DVI-1}
width = 100%
height = 27
offset-x = 0
offset-y = 0

background = ${colors.background}
foreground = ${colors.foreground}

border-bottom = 0
border-bottom-color = ${base16.base03}

spacing = 1
padding-left = 0
padding-right = 4
module-margin-left = 1
module-margin-right = 2

font-0 = yantramanav:size=14:fontformat=truetype
font-1 = firacode:size=12:fontformat=truetype
font-2 = unifont:size=1:heavy:fontformat=truetype;-2
font-3 = siji:pixelsize=10;0

modules-left = i3 xwindow
modules-center = filesystem
modules-right = cpu memory

tray-position = none

override-redirect = false
wm-restack = i3

scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev

[module/xwindow]
type = internal/xwindow
label = %title:0:61:...%
label-maxlen = 64

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /
mount-1 = /mnt/win

label-mounted = %mountpoint%: %percentage_used%;

label-unmounted = %mountpoint%: not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

label-focused = %index%
label-focused-foreground = ${colors.foreground-alt}
label-focused-background = ${colors.background-alt}
label-focused-padding = 2

label-unfocused = %index%
label-unfocused-padding = 2

label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

label-visible = %index%
label-visible-foreground = ${self.label-focused-foreground}
label-visible-background = ${self.label-focused-background}
label-visible-padding = ${self.label-focused-padding}

[module/mpd]
type = internal/mpd

host = 127.0.0.1
port = 6600

interval = 1

format-online = <label-song> <bar-progress> <label-time>

label-song-maxlen = 64
label-song-ellipsis = true

bar-progress-width = 20
bar-progress-indicator = >
bar-progress-indicator-font = 1
bar-progress-indicator-foreground = ${colors.primary}
bar-progress-fill = ─
bar-progress-fill-font = 1
bar-progress-fill-foreground = ${colors.primary}
bar-progress-empty = ─
bar-progress-empty-font = 1
bar-progress-empty-foreground = ${colors.foreground-alt}

label-time-foreground = ${colors.foreground}

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #f90000
label = %percentage%

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #4bffdc
label = %percentage_used%

[module/eth]
type = internal/network
interface = enp9s0
interval = 3.0

format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-foreground-foreground = ${colors.foreground-alt}
label-connected = %local_ip%

format-disconnected-underline = ${self.format-connected-underline}
label-disconnected = %ifname% disconnected
label-disconnected-foreground = ${colors.foreground-alt}

[module/time]
type = internal/date
interval = 5

time = %H:%M
time-alt = %H:%M:%S

format-prefix = 
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #0a6cf5

label = %time%

[module/date]
type = internal/date
interval = 5

date = %Y-%m-%d
date-alt = %Y-%m-%d

format-prefix = 
format-prefix-foreground = ${colors.foreground-alt}
format-underline = #0a6cf5

label = %date%

[module/volume]
type = internal/volume

format-volume = <label-volume> <bar-volume>
label-volume = VOL
label-volume-foreground = ${root.foreground}

format-muted-prefix = " "
format-muted-foreground = ${colors.foreground-alt}
label-muted = sound muted

bar-volume-width = 10
bar-volume-foreground = ${colors.primary}
bar-volume-gradient = false
bar-volume-indicator = │
bar-volume-indicator-font = 1
bar-volume-indicator-foreground = #ff
bar-volume-fill = ─
bar-volume-fill-font = 1
bar-volume-empty = ─
bar-volume-empty-font = 1
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/powermenu]
type = custom/menu

label-open = power
label-open-foreground = ${base16.base08}
label-close = cancel
label-close-foreground = ${base16.base08}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = reboot

menu-2-0 = power off
menu-2-0-exec = poweroff
menu-2-1 = cancel
menu-2-1-exec = menu-open-0

[module/ping]
type = custom/script

format-foreground = ${colors.foreground}
exec = ping 8.8.4.4 -n -c 1 | grep -oP "(?<=time=)[0-9\.]* ms"
interval = 1

[module/pkg]
type = custom/script
interval = 600
exec = .config/polybar/pkg.sh
exec-if = "ping -q -w 2 -c 1 8.8.4.4 > /dev/null"
format-foreground = ${colors.foreground}

; vim:ft=dosini
