rofi.font: Misc Fixed 13

rofi.opacity: 100

rofi.padding: 32px

rofi.color-enabled: true

rofi.color-window: {{base01}}, {{base01}}, {{base01}}

# State:            bg,      fg,      bgalt,   hlbg,    hlfg
rofi.color-normal:	{{base01}}, {{base05}}, {{base01}}, {{base05}}, {{base01}}
